# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# ROS
**/build/**
**/log/**
**/cmake/**
*.bag
**/install/**
# **/devel/**

# Large Files
**/2017-10-31-22-06-52/**

ros_foxy/ziQyOHy3

main

p1

p2

p4

p5

p3


.pdf

str23_tp02_notes.txt 

STR2021-Memo-TP2-aula_pratica_9-12-v1.pdf

str23_tp02.pdf

Supp_material1_ROS.pdf

**_OUTPUT.txt
